/* Set default font */
:root {
  --rp-font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* Dark mode color overrides */
.dark {
  --rp-c-text-1: #9ba3b4;  /* Main text color (paragraphs) */
  --header-foreground: #c3d0e5;
  --text-bold: #ebcb8b;
}

/* Dark mode specific styles */
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: var(--header-foreground);
}

.dark strong {
  color: var(--text-bold);
}